
<div id="wrapper" style="transform: none;">

<!-- Mobile Header -->
<header id="mobile-site-header" class="mobile-header">
  <div id="mobile-site-logo">
  <%= link_to(image_tag 'logo_mobile.png', {width: "346", height: "85", alt: "dieting-hacks", class: 'default-logo'}) %>
  <%= link_to(image_tag 'logo_mobile@2x.png', { width: "692", height: "170", alt: "Dieting Hacks TV", class: "retina-logo"}) %>
  </div>
</header>
<!-- END Mobile Header -->


<!-- Normal Header -->
<header id="site-header" class="header-style-1" >
  <div id="header-wrapper">
    <div id="header-container" class="clearfix">
      <div id="site-logo">
      <%= link_to(image_tag 'logo.png', { class: "default-logo"}) %>
      <%= link_to(image_tag 'logo@2x.png', { class: "retina-logo"}) %>
      </div>
      <div id="header-sidebar" class="clearfix abc"> </div>
    </div>
  </div>
</header>
<!-- END Normal Header -->


<!-- Header Banner for Mobile View -->
<div class="showmobile" style="max-width:728px;max-height:none;margin: 0 auto;">
<%= link_to(image_tag 'ad_728-90-3.png' { class: "commerc-img", width: "728", height: "90", alt: "Demo image" }) %>
</div>
<!-- END Header Banner for Mobile View -->


<!-- Mobile View - First Title -->
<div class="showmobile">
  <h2 style="padding: 20px 30px 0px 30px; margin-bottom: 0; font-weight: bold;">Special Report – Controversial story that is going viral</h2>
</div>
<!-- END Mobile View - First Title -->


<!-- Header Banner & First Title -->
<div id="first-title-wrapper" class="header-style-1">
  <div id="navigation-container">
    <div id="navigation-inner" class="clearfix">

      <nav id="site-navigation">
        <div class="menu-container">
          <ul id="menu-main-menu" class="menu">
            <li id="" class="headline">Special Report – Controversial story that is going viral</li>
          </ul>
        </div>
        <div class="menu-container" style="float: right;">
          <ul class="menu">
            <li class="share_btns">
              <div>
                <div style="margin-top:-5px;">
                <%= image_tag 'facebook-like.png' %>
                <%= image_tag 'button_googleplus_wide.png' %>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- END Header Banner & First Title -->


<!-- Main Page (#main) -->
<div id="main" class="clearfix" style="transform: none;">
  <div id="container" class="clearfix" style="transform: none;">
    <div id="content" class="float-left">
      <article id="" class="">
        <link href="#">

        <!--.entry-header -->
        <header class="entry-header clearfix">
          <!-- Breadcrumbs-->
          <h5><a href="#">Health &amp; Beauty ></a> <a href="#">Fast Natural Weight Loss ></a> Brazilian Body Wrap Benefits</h5>

          <!-- Title -->
          <h1 class="entry-title">Stay-at-Home Mom Dropped 2 Dress Sizes in 24 Hours using this Technique. Is this too extreme?</h1>

          <!-- Author & Date -->
          <div class="entry-meta">
          <span class="meta-author-image">
          <%= image_tag "author-pic.png", { height: "50", width: "50", alt: ""} %>
          </span>
          <a class="meta-author url" href="#" title="Article by Megan Freeman" rel="author"><span ><span >Megan Freeman</span></span></a><span class="meta-date">
            <time class="published" datetime="<%= Date.today %>" ><%= I18n.localize Date.today, format: :long %></time>
            <time class="meta-date-modified updated" datetime="2017-02-09T20:17:13+00:00" >February 9, 2017</time>
            </span>

            <!-- Comment and View Count -->
            <span class="meta-comments"><a href="#" title="Comments">52</a></span>
            <meta  content="UserComments:52">
          </div>

          <!--Twitter and Facebook Large Share Buttons-->
          <aside id="post-header-sidebar" class="clearfix">
            <div >
              <div  class="widget widget_text">
                <div class="textwidget">
                  <div class="essb_links essb_displayed_shortcode essb_share essb_template_jumbo-retina essb_540898325 smooth print-no" id="essb_displayed_shortcode_540898325" data-essb-postid="440" data-essb-position="shortcode" data-essb-button-style="button" data-essb-template="jumbo-retina" data-essb-counter-pos="hidden" data-essb-url="#" data-essb-twitter-url="#" data-essb-instance="540898325">
                    <ul class="essb_links_list">

                      <!--Facebook Share -->

                      <li class="essb_item essb_link_facebook nolightbox"> <a href="#" rel="nofollow" style="
    padding: 8px;
">
      <%= image_tag 'facebook.png' %>
      <span class="essb_network_name">Share This Post</span> </a> </li>

                      <!--Twitter Share -->

                      <li class="essb_item essb_link_twitter nolightbox"> <a href="#" title="" style="
    padding: 8px;
"> <%= image_tag 'twitter.png' %> <span class="essb_network_name">Share on Twitter</span></a> </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </header>
        <!-- .entry-header -->

        <div class="post_lead_text clearfix">
          <ul style="    list-style: none;
    font-style: italic;
    margin-left: 10px;
             margin-right: 10px;">
            <li>Chelsea Mackenberry, a stay-at-home mom, successfully dropped 2 dress sizes in less than 24 hours, without the use of harmful diet pills or crash diets. </li>
          </ul>
        </div>
        <div class="post_lead_content clearfix">

            <div>
            <%= image_tag 'main-pic.jpg', { class: "commerc-img", width: "840", height: "470", alt: "Before and After" } %>
            </div>

        </div>
        <div class="entry-content">
          <p>Chelsea, a busy medical student, and mom, was hurriedly getting ready to be a bridesmaid in her best friend’s wedding.  Just days before the wedding, Chelsea was spending multiple hours researching various solutions that would help her shed unwanted inches – and fast.  Expecting to find crazy crash diets, or detrimental dehydration techniques, Chelsea was astonished to come across a promising solution that wouldn’t cause her any harm – body wraps.</p>
          <p style="font-style:italic;">“I was thrilled when I found out my lifelong friend was getting married.  I wasn’t so thrilled, however, when I thought about how I was going to look in the photos and videos.  I was really unhappy with my body,  and the thought of being photographed made me so upset I even thought about avoiding it altogether.  I was desperate to find a solution that would give me a quick fix, but would also help get me back to my ideal figure.  Having researched online, I know there are many DIY options out there, but I was short on time and needed a body wrap that was guaranteed to work.  After hours of research, I found a company that seemed reputable and I ordered one off their website.”</p>
          <p>As a woman myself who is interested in new weight loss techniques, I was intrigued to find out more.  I decided to sit down with Chelsea to dig deeper into her findings.</p>
          <p style="margin-bottom: .7em;"><strong>Megan:</strong> <em> “Before we talk about the specifics, can you tell our readers a bit about body wraps and what they are used for?”</em></p>
          <p style="margin-bottom: 1.5em;"><strong>Chelsea:</strong> <em>“Body wraps are a type of health and beauty treatment typically used in high end spas.  The treatment consists of a gentle exfoliation, followed by an application of a Volcanic Clay Ash.  The entire body is then wrapped in a warm bandage and plastic wrap.  From my research, I found out that if used correctly, they can help you to:</em></p>
          <ul>
            <li style="font-weight: bold; margin-bottom: 8px;">Tighten and tone your belly, thighs, arms, buttocks, etc.</li>
            <li style="font-weight: bold; margin-bottom: 8px;">Detoxify your skin, body and fluids in and around your fat</li>
            <li style="font-weight: bold; margin-bottom: 8px;">Reduce the appearance of cellulite</li>
            <li style="font-weight: bold; margin-bottom: 8px;">Lose inches, especially around the midsection</li>
            <li style="font-weight: bold; margin-bottom: 8px;">Moisturize your skin to get rid of roughness and dry patches”</li>
          </ul>
          <p style="margin-bottom: .7em;"><strong>Megan:</strong> <em>“When you were researching, did you look at a lot of different options?”</em></p>
          <p style="margin-bottom: .7em;"><strong>Chelsea:</strong> <em>“Oh, yes, absolutely.  As a medical student, I always research any health and beauty treatment before I try it.  As I said before, there are a ton of different options out there, but it was important for me to find one that was risk-free and one that worked fast.  Body wraps came up as the most impressive option on so many levels.”</em></p>
          <p style="margin-bottom: .7em;"><strong>Megan:</strong> <em>“Did you buy the first one you came across?”</em></p>
          <p style="margin-bottom: .7em;"><strong>Chelsea:</strong> <em>“That’s a funny question.  I actually tried making one myself first, but as I soon found out, not all body wraps are created equal.  I discovered it’s important to find a body wrap that is made with Volcanic Ash, Magnesium and Zinc Oxide – so I couldn’t really make this myself.  I then found a product that had what I was looking for and placed an order.”</em></p>
          <p style="margin-bottom: .7em;"><strong>Megan:</strong> <em>“So you did a ton of research, found a product and then ordered it.  What happened next?”</em></p>
          <p style="margin-bottom: .7em;"><strong>Chelsea:</strong> <em>“Well, my product arrived 2 days before the wedding, so I didn’t have a lot of time!  I sort of went a little bit crazy and applied the clay all over my midsection, arms, waist and thighs.  I made sure to apply it as directed on the box and once I was finished, I was totally shocked by the results.  I lost a whopping 2 inches off my belly alone and was able to fit into a dress that was 2 sizes smaller!”</em></p>
          <p style="margin-bottom: .7em;"><strong>Megan:</strong> <em> “Wow, that’s pretty incredible.  Have you found the results are sustainable?”</em></p>
          <p style="margin-bottom: .7em;"><strong>Chelsea:</strong> <em> “Shockingly, yes.  There is a common misconception that body wraps are only for weight loss, when really they’re beneficial in so many ways.  They are designed for a total body detoxification and work best when used on a regular basis, along with healthy diet and exercise.  It’s now been 2 months since I started the program that came with my kit and I am in better shape now than I was in high school.  I haven’t used any supplements, pills or crazy diets.  I feel fantastic knowing I can successfully maintain my results.”</em></p>
          <p>I was so impressed with Chelsea’s experience I decided to catch up with other users of body wraps to see their results.  Take a look for yourself!</p>
          <p style="font-size:14px;background: #f9f9f9;border: 1px solid #eae9e9;padding: 8px;"><strong style="
    padding: 8px;
">Editor’s note:</strong><em style="
    font-size: 16px;
    padding: 8px 0;
"> Chelsea has worked with the official suppliers to provide a free box to all of our readers today!</em></p>
        </div>
        <!-- .entry-content -->




          <!--  Coupon Offer -->
          <div class="coupon-main">



	<p class="cpn-main-title"> #1 Natural Weight Loss Product - Clay Body Wraps</p>
	<p class="coupon-p3">is available today, exclusively for our readers. </p>

            <!--

               <p style="border: dashed #ccc 2.5px;background-color: #8f008e;margin-bottom: 15px;font-weight: bold;cursor: pointer;padding: 15px 25px;">
		<a href="#" style="text-transform: uppercase;color: #fff;">Click here to claim your 30 day free supply!</a></p>

               -->

        <a href="#">
	<button class="coupon-main-btn">Claim your FREE 30-day free supply now!</button> </a>


	<p class="coupon-p4">This offer is available to new customers only</p>

  </div>
              <!-- End Coupon Offer -->

        <div class="results-container">
		  <p style="margin-bottom:0px;">The Results Speak for Themselves!</p>
       <img class="results-img" src="assets/b4after-1.png">
       <img class="results-img" src="assets/b4after-2.png">
       <img class="results-img" src="assets/b4after-3.png">
       <img class="results-img" src="assets/b4after-4.png">
       <img class="results-img" src="assets/b4after-5.png">
          <img class="results-img" src="assets/b4after-6.png">
		  </div>

      </article>
      <!-- #post-440 -->

    </div>
    <!-- #content -->

    <!-- SideBar -->
    <div id="sidebar" class="float-right" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
      <!-- .page-sidebar -->
      <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static;">
        <aside class="page-sidebar">
        <div class="widget-area">
          <form class="feedburner-box" action="#" method="post">
            <h5 style="
    color: #2b2b2b;
    margin-bottom: 10px;
    font-size: 18px;
">NEWSLETTER</h5>
            <p style="
    margin-bottom: 0em;
">
              <input type="email" class="subscribe-input" placeholder="Your Email Address" name="email" style="
    padding: 10px;
    margin-bottom: 10px;
        border: 1px solid #e8e8e8;
">
              <button class="subscribe-btn" type="submit" style="
    padding: 15px 24px;
"><span>Sign Up</span></button>
            </p>
            <input type="hidden" value="" name="uri">
            <input type="hidden" name="loc" value="en_US">
          </form>

          <!-- Testimonials -->
          <div id="news_article_block_widget-6" class="widget widget_news_article_block_widget">
            <div class="author vcard clearfix" style="
   margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e8e8e8;
        text-align: center;
">

              <!-- Testimonial #1 -->
              <!-- Testimonials Title  <h3 class="widget-title">Customer Testimonials</h3> -->
              <img alt="Before and After Testimonial" src="assets/testimonial-1.png"   height="250" width="300" style="float: none; border-radius: 0; max-width: 220px; margin-bottom: 6px;">
              <div class="fn"> <a class="url" href="#" title="" rel="author">Katy Jones</a> </div>
              <!-- .fn -->
              <div class="author-info description note">
                <p style="margin-bottom: 0px;">Cras laoreet ultrices dictum. Nunc vehicula, tellus vel sodales condimentum, urna ex tincidunt nisl, luctus gravida nunc nisi at risus. Nam eget bibendum odio. Nam dignissim odio quis ipsum tristique, at luctus ex volutpat. Maecenas ullamcorper imperdiet ante non condimentum.</p>
             <a href="#" style="margin-bottom: 0px; text-align:center;">
             Learn More
				  </a>
              </div>
              <!-- .author-info .description .note -->
              <!-- END Testimonial #1 -->
            </div>

            <!--  Coupon Offer -->
          <div class="coupon-side">



	<p class="cpn-side-title"> #1 Natural Weight Loss Product - Clay Body Wraps</p>
	<p class="coupon-p1">is available today, exclusively for our readers. </p>

            <!--

               <p style="border: dashed #ccc 2.5px;background-color: #8f008e;margin-bottom: 15px;font-weight: bold;cursor: pointer;padding: 15px 25px;">
		<a href="#" style="text-transform: uppercase;color: #fff;">Click here to claim your 30 day free supply!</a></p>

               -->

        <a href="#">
	<button class="coupon-side-btn">Click here to claim your 30-day free supply!</button> </a>


	<p class="coupon-p2">This offer is available to new customers only</p>

  </div>
              <!-- End Coupon Offer -->

              <div class="author vcard clearfix" style="margin-top: 20px;margin-bottom: 20px;border: 1px solid #e8e8e8;text-align: center;">
                <!-- Testimonial #2 -->
                <!-- Testimonials Title  <h3 class="widget-title">Customer Testimonials</h3> -->
                <img alt="Before and After Testimonial" src="assets/testimonial-2.png"   height="250" width="300" style="float: none; border-radius: 0; max-width: 220px; margin-bottom: 6px;">
                <div class="fn"> <a class="url" href="#" title="" rel="author">Alicia Moreau</a> </div>
                <!-- .fn -->
                <div class="author-info description note">
                  <p style="
    margin-bottom: 0px;
">Cras laoreet ultrices dictum. Nunc vehicula, tellus vel sodales condimentum, urna ex tincidunt nisl, luctus gravida nunc nisi at risus. Nam eget bibendum odio. Nam dignissim odio quis ipsum tristique, at luctus ex volutpat. Maecenas ullamcorper imperdiet ante non condimentum.</p>
                <a href="#" style="margin-bottom: 0px; text-align:center;">
             Learn More
				  </a>
                </div>
                <!-- END Testimonial #2 -->
              </div>
              <div class="author vcard clearfix" style="margin-top: 10px;margin-bottom: 10px;border: 1px solid #e8e8e8;text-align: center;">
                <!-- Testimonial #3 -->
                <!-- Testimonials Title  <h3 class="widget-title">Customer Testimonials</h3> -->
                <img alt="Before and After Testimonial" src="assets/testimonial-3.png"   height="250" width="300" style="float: none; border-radius: 0; max-width: 220px; margin-bottom: 6px;">
                <div class="fn"> <a class="url" href="#" title="" rel="author">Drew Snow</a> </div>
                <!-- .fn -->
                <div class="author-info description note">
                  <p style="
    margin-bottom: 0px;
">Cras laoreet ultrices dictum. Nunc vehicula, tellus vel sodales condimentum, urna ex tincidunt nisl, luctus gravida nunc nisi at risus. Nam eget bibendum odio. Nam dignissim odio quis ipsum tristique, at luctus ex volutpat. Maecenas ullamcorper imperdiet ante non condimentum.</p>
                <a href="#" style="margin-bottom: 0px; text-align:center;">
             Learn More
				  </a>
                </div>
              </div>
            </div>
            <!-- END Testimonial #3 -->

          </div>
          </aside>
        </div>
      </div>
      <div id="contentm" class="float-left">
        <article id="" class="">
          <div class="wpb_wrapper">

           <!-- OPTIONAL PRODUCT IMAGE -->
           <!--delete this line to activate image --
           <img class="commerc-img" width="440" height="235" src="assets/product-pic.png" alt="Before and After">

            <!-- END OPTIONAL PRODUCT IMAGE -->

            <p style="
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
"> Step 1 </p>
            <p style="
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
"> Free 30 Day Supply ***</p>
            <button class="subscribe-btn" type="submit" style="
    padding: 15px 24px;
"><span>Get A Free Box Now</span></button>
            <p style="
    margin-top: 10px;
    font-size: 14px;
">Free Box Promotion Expires on: <span style="
    font-family: verdana;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 800;
">Tuesday, Feb, 8, 2017 at Midnight</span></p>
            <div style="">
              <h3 style="
    margin-bottom: 10px;
">COMMENTS</h3>
            </div>
            <div style="font-size: 12px;"> (Showing 1-10 of 52)</div>
            <div style="height:4px;     border-bottom: #000 solid 4px;
            margin-bottom: 15px;"></div>

            <!-- *************COMMENTS************* -->

            <!-- Comment 1-->
            <div style="margin-bottom: 1.5em; margin-top: 10px; border-bottom: 1px #ccc solid;"> <img src="assets/img-user-221.jpg" style="float:left; max-height: 60px; max-width: 60px;">
              <div style="padding-left: 75px;">
                <p style="margin-bottom: 0;font-weight: bold;">Posted by Sam</p>
                <p style="line-height: 1.2em;margin-bottom: 1em;/* border-bottom: 1px #ccc solid; */">I stand by this diet. I tried this diet a months ago and I can't say enough about it. This diet helped me lose 28.5 lbs  therought whole program and it completely changed my life. I highly recommend this diet to  ANYONE that's looking to shred unnecessary fat.</p>
              </div>
            </div>
            <!-- End Comment 1-->

            <!-- Comment 2-->
            <div style="margin-bottom: 1.5em; margin-top: 10px; border-bottom: 1px #ccc solid;"> <img src="assets/img-user-453.jpg" style="float:left; max-height: 60px; max-width: 60px;">
              <div style="padding-left: 75px;">
                <p style="margin-bottom: 0;font-weight: bold;">Posted by Kati</p>
                <p style="line-height: 1.2em;margin-bottom: 1em;/* border-bottom: 1px #ccc solid; */">I stand by this diet. I tried this diet a months ago and I can't say enough about it. This diet helped me lose 28.5 lbs  therought whole program and it completely changed my life. I highly recommend this diet to  ANYONE that's looking to shred unnecessary fat.</p>
              </div>
            </div>
            <!-- End Comment 2-->

            <!-- Comment 3-->
            <div style="margin-bottom: 1.5em; margin-top: 10px; border-bottom: 1px #ccc solid;"> <img src="assets/img-user-343.jpg" style="float:left; max-height: 60px; max-width: 60px;">
              <div style="padding-left: 75px;">
                <p style="margin-bottom: 0;font-weight: bold;">Posted by Jess</p>
                <p style="line-height: 1.2em;">I stand by this diet. I tried this diet a months ago and I can't say enough about it. This diet helped me lose 28.5 lbs  therought whole program and it completely changed my life. I highly recommend this diet to  ANYONE that's looking to shred unnecessary fat.</p>
              </div>
            </div>
            <!-- End Comment 3-->

            <!-- Comment 4-->
            <div style="margin-bottom: 1.5em; margin-top: 10px; border-bottom: 1px #ccc solid;"> <img src="assets/img-user-323.jpg" style="float:left; max-height: 60px; max-width: 60px;">
              <div style="padding-left: 75px;">
                <p style="margin-bottom: 0;font-weight: bold;">Posted by Michelle</p>
                <p style="line-height: 1.2em;">I stand by this diet. I tried this diet a months ago and I can't say enough about it. This diet helped me lose 28.5 lbs  therought whole program and it completely changed my life. I highly recommend this diet to  ANYONE that's looking to shred unnecessary fat.</p>
              </div>
            </div>
            <!-- End Comment 4-->

            <!-- Comment 5-->
            <div style="margin-bottom: 1.5em; margin-top: 10px; border-bottom: 1px #ccc solid;"> <img src="assets/img-user (8).jpg" style="float:left; max-height: 60px; max-width: 60px;">
              <div style="padding-left: 75px;">
                <p style="margin-bottom: 0;font-weight: bold;">Posted by Jacob</p>
                <p style="line-height: 1.2em;">I stand by this diet. I tried this diet a months ago and I can't say enough about it. This diet helped me lose 28.5 lbs  therought whole program and it completely changed my life. I highly recommend this diet to  ANYONE that's looking to shred unnecessary fat.</p>
              </div>
            </div>
            <!-- End Comment 5-->

            <!-- Comment 6-->
            <div style="margin-bottom: 1.5em; margin-top: 10px; border-bottom: 1px #ccc solid;"> <img src="assets/img-user (9).jpg" style="float:left; max-height: 60px; max-width: 60px;">
              <div style="padding-left: 75px;">
                <p style="margin-bottom: 0;font-weight: bold;">Posted by Kimberly</p>
                <p style="line-height: 1.2em;">I stand by this diet. I tried this diet a months ago and I can't say enough about it. This diet helped me lose 28.5 lbs  therought whole program and it completely changed my life. I highly recommend this diet to  ANYONE that's looking to shred unnecessary fat.</p>
              </div>
            </div>
            <!-- End Comment 6-->

            <!-- Comment 7-->
            <div style="margin-bottom: 1.5em; margin-top: 10px; border-bottom: 1px #ccc solid;"> <img src="assets/img-user (1).jpg" style="float:left; max-height: 60px; max-width: 60px;">
              <div style="padding-left: 75px;">
                <p style="margin-bottom: 0;font-weight: bold;">Posted by Daniel</p>
                <p style="line-height: 1.2em;">I stand by this diet. I tried this diet a months ago and I can't say enough about it. This diet helped me lose 28.5 lbs  therought whole program and it completely changed my life. I highly recommend this diet to  ANYONE that's looking to shred unnecessary fat.</p>
              </div>
            </div>
            <!-- End Comment 7-->

            <!-- Comment 8-->
            <div style="margin-bottom: 1.5em; margin-top: 10px; border-bottom: 1px #ccc solid;"> <img src="assets/img-user (10).jpg" style="float:left; max-height: 60px; max-width: 60px;">
              <div style="padding-left: 75px;">
                <p style="margin-bottom: 0;font-weight: bold;">Posted by Mary</p>
                <p style="line-height: 1.2em;">I stand by this diet. I tried this diet a months ago and I can't say enough about it. This diet helped me lose 28.5 lbs  therought whole program and it completely changed my life. I highly recommend this diet to  ANYONE that's looking to shred unnecessary fat.</p>
              </div>
            </div>
            <!-- End Comment 8-->

            <!-- Comment 9-->
            <div style="margin-bottom: 1.5em; margin-top: 10px; border-bottom: 1px #ccc solid;"> <img src="assets/img-user (11).jpg" style="float:left; max-height: 60px; max-width: 60px;">
              <div style="padding-left: 75px;">
                <p style="margin-bottom: 0;font-weight: bold;">Posted by Rachel</p>
                <p style="line-height: 1.2em;">I stand by this diet. I tried this diet a months ago and I can't say enough about it. This diet helped me lose 28.5 lbs  therought whole program and it completely changed my life. I highly recommend this diet to  ANYONE that's looking to shred unnecessary fat.</p>
              </div>
            </div>
            <!-- End Comment 9-->

            <!-- Comment 10-->
            <div style="margin-bottom: 1.5em; margin-top: 10px; border-bottom: 1px #ccc solid;"> <img src="assets/img-user (12).jpg" style="float:left; max-height: 60px; max-width: 60px;">
              <div style="padding-left: 75px;">
                <p style="margin-bottom: 0;font-weight: bold;">Posted by Tammy</p>
                <p style="line-height: 1.2em;">I stand by this diet. I tried this diet a months ago and I can't say enough about it. This diet helped me lose 28.5 lbs  therought whole program and it completely changed my life. I highly recommend this diet to  ANYONE that's looking to shred unnecessary fat.</p>
              </div>
            </div>
            <!-- End Comment 10-->

            <!-- *************END COMMENTS************* -->

          </div>





          <!-- Comment Form -->


          <div id="commentsSection">
    <div style="border-bottom:#ff0000 solid 4px;margin-bottom:15px;">
        <h3 style="margin-bottom: 15px;">ADD COMMENT</h3>
    </div>
    <p>Please remember to keep comments respectful. Abusive
        comments will not be tolerated, and will result in both the removal of
        the comment as well as a permanent ban to the user who posted it.</p>
    <p style="color:#999;margin-bottom: 15px;">*Only registered  users can comment. <a href="#"><u>LOGIN</u></a></p>


    <form role="form">
        <div class="form-group">
            <input class="form-control" id="exampleInputEmail1" placeholder="Name" type="name">
        </div>
        <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" placeholder="Email" type="email">
        </div>
        <div class="form-group">
            <label for="exampleInputFile">Comments</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>


</div>

          <!-- END Comment Form -->









        </article>
      </div>
    </div>
    <!-- #container -->

  </div>
  <!-- END Main Page (#main) -->


  <!-- Footer Copyright -->
  <footer class="site-footer" id="site-footer">
    <div class="site-info">
      <div class="inner">
        <div>
          <div>© 2017 Dieting Hacks. All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END Footer Copyright -->

</div>
